Thumbs.db
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk 
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/.vs/*
**- Copie.adf
/amiga_replacement_project/
/Notes/BattleSquadron.txt
/Notes/shrot1.adf
/Notes/shrot2.adf
